<ion-header>

  <ion-navbar>
    <ion-title>Inicio</ion-title>


  </ion-navbar>

</ion-header>



<ion-content overflow-scroll = " true ">



  <ion-grid>
    <ion-row>
      <ion-col col-2 >
        <form id="container" [formGroup]="formCodigo" (ngSubmit)="buscarCodigo()">
          <ion-searchbar style="width: 100%" autofocus formControlName="name" placeholder="Buscar por código">
          </ion-searchbar>
        </form>




      </ion-col>
      <ion-col col-6>

        <form id="container" *ngIf="form" [formGroup]="form" (ngSubmit)="saludar()">
          <ion-searchbar autofocus formControlName="name" placeholder="Buscar por nombre">
          </ion-searchbar>
        </form>
      </ion-col>
      <ion-col col-3>
        <button ion-button (click)="crearProducto()">Crear un producto</button>
      </ion-col>
    </ion-row>
    <ion-list>


    </ion-list>

    <table style="width: 100%; padding: 10px; border-radius: 25px" border="1">
   
      <tr>
        
        <th style="padding: 5px; text-align: center">Código</th>
        <th style="padding: 5px; text-align: center">Producto</th>
        <th style="padding: 5px; text-align: center">Stock</th>
 
        <th style="padding: 5px; text-align: center">Precio</th>
        
        <th style="padding: 5px; text-align: center">Mínimo</th>
        <th style="padding: 5px; text-align: center">Acciones</th>
      </tr>
      <tr *ngFor="let producto of productos">
        <td overflow-scroll = " true " style="padding: 5px; text-align: center">{{producto.codigo}}</td>
        <td style="padding: 5px; text-align: center">{{producto.nombre}}</td>
        <td style="padding: 5px; text-align: center">
            <button ion-button clear>{{producto.stock}} ({{producto.unidad.nombre}})</button> </td>
      
        <td style="padding: 5px; text-align: center">${{producto.precio}}</td>
       
        <td style="padding: 5px; text-align: center">{{producto.minimo}}</td>
        <td style="padding: 5px; text-align: center">
          <button ion-button round icon-only small (click)="agregarStock(producto)">
            <ion-icon name="md-add"></ion-icon>
          </button>
          <button ion-button small icon-only color="secondary" (click)="modificarItem(producto)" round>
            <ion-icon name="md-create"></ion-icon>
          </button>
          <button ion-button small icon-only color="light" (click)="listarPrecios(producto)" round>
            <ion-icon name="logo-usd"></ion-icon>
          </button>
          <button ion-button small icon-only color="danger" (click)="desactivarItem(producto)" round>
            <ion-icon name="md-trash"></ion-icon>
          </button>
        </td>
      </tr>


    </table>



  </ion-grid>



</ion-content>