

<ion-content>

    <div class="w3-container w3-blue">
        <h2>Comprobante # {{factura.id}}</h2>
      </div>
    

  <ion-grid>

    <ion-row>
      <ion-col col-12>

        <ion-grid>


          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <ion-grid>


                  <ion-row>
                    <ion-col col-12>
                      <table style="width: 100%; padding: 10px; border-radius: 25px" border="1">

                        <tr>


                          <td colspan="6" style="padding: 5px; text-align: center">
                            <h1>Total: ${{total}}</h1>

                          </td>

                          <td colspan="1" style="padding: 5px; text-align: center">
                            <button ion-button icon-only round (click)="comprobante()">
                              <ion-icon name="ios-print-outline"></ion-icon>

                            </button>

                            <button ion-button icon-only round color="secondary" (click)="sincomprobante()">
                              <ion-icon name="ios-remove-circle-outline"></ion-icon>

                            </button>
                          </td>

                        </tr>
                        <tr>
                          <td colspan="2">
                            <ion-item>

                              <ion-select [(ngModel)]="cliente" (ionChange)="cambiarCliente()">
                                <ion-option selected value="1">Venta</ion-option>
                                <ion-option value="2">Consumo interno</ion-option>
                              </ion-select>
                            </ion-item>
                          </td>
                          <td colspan="4">
                            <ion-grid>
                              <ion-row>
                                <ion-col col-11>
                                  <form id="container2" *ngIf="form" [formGroup]="form" (ngSubmit)="saludar()">
                                    <ion-searchbar style="width: 100%" autofocus formControlName="name" placeholder="Ingresar código de barras">
                                    </ion-searchbar>
                                  </form>


                                </ion-col>
                                <ion-col col-1>
                                  <button ion-button icon-only round (click)="buscar()">
                                    <ion-icon name="md-search"></ion-icon>

                                  </button>

                                </ion-col>
                              </ion-row>
                            </ion-grid>

                          </td>
                          <td class="w3-padding" colspan="1" style="max-width: 3cm">

                              <label class="w3-text-blue">
                                  <b>Dinero recibido</b>
                                </label>
                                <input class="w3-input w3-border w3-round" placeholder="Dinero recibido" type="number" [(ngModel)]="recibido" (change)="calcular()">
                          
                                <label class="w3-text-blue">
                                    <b>Vuelto</b>
                                  </label>
                                  <input class="w3-input w3-border w3-round" placeholder="Vuelto" type="number" value="0.00" [(ngModel)]="vuelto">
                            
                           



                          </td>
                        </tr>
                     


                      </table>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>





            </ion-row>


          </ion-grid>
        </ion-grid>






      </ion-col>



    </ion-row>
  </ion-grid>
  <table class="w3-table w3-striped w3-bordered  w3-round">
  <tr class="w3-dark-gray">
      <th >Cantidad</th>
      <th >Código</th>
      <th >Producto</th>
      <th >Unidad</th>
      <th >Unitario</th>
      <th >Total</th>
      <th >Acciones</th>
    </tr>
    <tr *ngFor="let detalle of detalles">
      <td >{{detalle.cantidad}}</td>
      <td >{{detalle.codigo}}</td>
      <td >{{detalle.producto}}</td>
      <td >{{detalle.unidad}}</td>
      <td >${{detalle.unitario}}</td>
      <td >${{detalle.total}}</td>
      <td >

        <button ion-button small icon-only color="danger" (click)="borrarDetalle(detalle.id)" round>
          <ion-icon name="md-trash"></ion-icon>
        </button>
      </td>
    </tr>
  </table>




  <!-- align to the bottom of the page -->
  <!-- <div style="position: absolute; bottom: 0px; width: 100%">
          <div style="text-align: center">
            <p>Bottom</p>
          </div>
      </div> -->




</ion-content>

<div style="visibility: hidden" id="boleta" style=" border: 1; font-size: 8; border-color: black">


  <h1>COMERCIAL HERAS</h1>
  <h2>Ventas al por mayor y menor</h2>
  <h2>
    <strong>Comprebante:</strong> # {{factura.id}}</h2>
  <h2>Fecha: {{fecha}}</h2>


  <hr>




  <table style="width: 100%">
    <tr>
      <th style="text-align: center; padding: 2px">
        <h1>Cant.</h1>
      </th>
      <th style="text-align: center; padding: 2px">
        <h1>Producto</h1>
      </th>
      <th style="text-align: center; padding: 2px">
        <h1>Unit.</h1>
      </th>
      <th style="text-align: center; padding: 2px">
        <h1>Total</h1>
      </th>

    </tr>

    <tr *ngFor="let detalle of detalles">
      <td style="text-align: center; padding: 2px">
        <h2>{{detalle.cantidad}}</h2>
      </td>
      <td style="text-align: left; padding: 2px;">
        <h2>{{detalle.producto}}</h2>
      </td>
      <td style="text-align: center; padding: 2px">
        <h2>${{detalle.unitario}}</h2>
      </td>
      <td style="text-align: center; padding: 2px">
        <h2>${{detalle.total}}</h2>
      </td>


    </tr>


  </table>
  <hr>


  <div style="text-align: right">
    <h1>TOTAL: ${{total}}</h1>
  </div>
  <hr>
  <h2 style="text-align: center">***ES UN PLACER SERVIRLE***</h2>
  <h4 style="text-align: center">Este comprobante no tiene validez tributaria</h4>



</div>


<script>

  function saludar() {
    alert(saludar);
  }
  function PrintElem(elem) {
    var mywindow = window.open('', 'PRINT', 'height=400,width=600');

    mywindow.document.write('<html><head><title>' + document.title + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title + '</h1>');
    mywindow.document.write(document.getElementById(elem).innerHTML);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();

    return true;
  }

</script>