<ion-header>

  <ion-navbar>
    <ion-title>Comprobante # {{factura.id}}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col col-10>
        <ion-grid>
          <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>


            </ion-col>

          </ion-row>

          <ion-grid>
            <ion-row>
              <ion-col col-4>
                <ion-item>
                  <ion-label>Tipo de salida</ion-label>
                  <ion-select [(ngModel)]="cliente" (ionChange)="cambiarCliente()">
                    <ion-option selected value="1">Venta</ion-option>
                    <ion-option value="2">Consumo interno</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>

              <ion-col col-6>
                <form id="container" *ngIf="form" [formGroup]="form" (ngSubmit)="saludar()">
                  <ion-item id="rounded">
                    <ion-input [(ngModel)]="cbxProducto" autofocus type="text" placeholder="Código del producto" formControlName="name"></ion-input>
                  </ion-item>

                </form>

              </ion-col>

              <ion-col col-2>
                <button ion-button icon-only (click)="saludar()">
                  <ion-icon name="add"></ion-icon>
                </button>
                <button ion-button icon-only>
                  <ion-icon name="search"></ion-icon>
                </button>
              </ion-col>



            </ion-row>


          </ion-grid>
        </ion-grid>
        <div id="print-section" class="row header">
          <div class="col">Cantidad</div>
          <div class="col">Código</div>
          <div class="col">Producto</div>
          <div class="col">P. Unitario</div>
          <div class="col">P. Total</div>
          <div class="col"></div>
        </div>
        <div class="row" *ngFor="let detalle of detalles">
          <div class="col">{{detalle.cantidad}}</div>
          <div class="col">{{detalle.codigo}}</div>
          <div class="col">{{detalle.producto}}</div>
          <div class="col">{{detalle.unitario}}</div>
          <div class="col">{{detalle.total}}</div>
          <div class="col">
            <button ion-button icon-only color="danger" outline>
              <ion-icon name="trash"></ion-icon>
            </button>
          </div>
        </div>
      </ion-col>
   

      <ion-col col-2>

        <ion-card>
          <ion-item>
            <ion-icon name="logo-usd" item-start large></ion-icon>
            <h1>{{total}}</h1>

          </ion-item>

          <ion-item>

            <button ion-button icon-left block large clear item-end (click)="cobrar()">
              <ion-icon name="ios-exit-outline"></ion-icon>
              Cobrar
            </button>
          </ion-item>
        </ion-card>


      </ion-col>
    </ion-row>
  </ion-grid>




  <!-- align to the bottom of the page -->
  <!-- <div style="position: absolute; bottom: 0px; width: 100%">
          <div style="text-align: center">
            <p>Bottom</p>
          </div>
      </div> -->




</ion-content>

<script>

  function saludar() {
    alert(saludar);
  }
  function PrintElem(elem)
{
    var mywindow = window.open('', 'PRINT', 'height=400,width=600');

    mywindow.document.write('<html><head><title>' + document.title  + '</title>');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title  + '</h1>');
    mywindow.document.write(document.getElementById(elem).innerHTML);
    mywindow.document.write('</body></html>');

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();

    return true;
}

</script>